<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LearningApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8.0.4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>97980727B11C2BF31A83EADA3093F2957DB6A59B</string>
				<key>dateExpires</key>
				<string>2024/07/01</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.0.6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97980727B11C2BF31A83EADA3093F2957DB6A59B</string>
						<key>dateExpires</key>
						<string>2024/07/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarketingCloudSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4WQ2T93P22</string>
						<key>name</key>
						<string>salesforce.com, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97980727B11C2BF31A83EADA3093F2957DB6A59B</string>
						<key>dateExpires</key>
						<string>2024/07/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SFMCSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4WQ2T93P22</string>
						<key>name</key>
						<string>salesforce.com, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.0.5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97980727B11C2BF31A83EADA3093F2957DB6A59B</string>
						<key>dateExpires</key>
						<string>2024/07/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarketingCloudSDK.bundle</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4WQ2T93P22</string>
						<key>name</key>
						<string>salesforce.com, inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.0.4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97980727B11C2BF31A83EADA3093F2957DB6A59B</string>
						<key>dateExpires</key>
						<string>2024/07/01</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4WQ2T93P22.com.salesforce.internal.jpmc.MarketingCloudServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>4WQ2T93P22</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>MarketingCloudServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d7877a66-e81a-4576-a317-684fe52f5d3a</string>
						<key>dateExpires</key>
						<string>2023/06/01</string>
						<key>name</key>
						<string>jpmc ServiceExtension inhouse</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4WQ2T93P22</string>
						<key>name</key>
						<string>salesforce.com, inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>29S9EB9MJ4.com.salesforce.internal.jpmc</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionComplete</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4WQ2T93P22</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LearningApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>98423a44-6021-4c11-ad10-8f49434b9641</string>
				<key>dateExpires</key>
				<string>2023/06/01</string>
				<key>name</key>
				<string>com.salesforce.internal.jpmc inhouse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4WQ2T93P22</string>
				<key>name</key>
				<string>salesforce.com, inc</string>
			</dict>
			<key>versionNumber</key>
			<string>8.0.4</string>
		</dict>
	</array>
</dict>
</plist>
